.scroll-icon {
  font-size: 1.8rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.scroll-icon:hover {
  transform: scale(1.1);
  color: #0d6efd;
}


.category-section {
  width: 100%;
  margin-top: 2rem;
}
.explore-menu-list-item img {
  width: 160px;    
  height: 160px;    
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid transparent;
  transition: border-color 0.3s ease;
}

.explore-menu-list-item img.active {
  border-color: #007bff; 
}
